p{
    font-weight: bold;
}
.header-form{
    text-align: center;
}
.paciente-form{
    margin-bottom: 50px;
}
.content{
    z-index: 10000px;
    background-color: #fffff;
}
.btn-form{
    margin-bottom: 50px;
    text-align: center;
    padding: 10px;;
}
.btn-send{
    margin-right: 10px;
    padding: 10px;
}
/* .form-control{
    margin: 5px;
    line-height: 15px !important;
} */
.paciente-cadastro{
    top: 50px;
    width: 50%;
    position: relative;
    left: 25%;
}