.container{
    font-family: 'Roboto', sans-serif;
}
.header {
    width: 100%;
    height: 200px;
    position: absolute;
    background-image: url('../img/background-form.jpg');
    background-size: cover;

}
.aling-form{
    border: 1px solid black;
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.4);
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.4);
    position: relative;
    background-color: white;
    top: 76px;
    padding-bottom: 50px;    
}
.content{
    z-index: 10000px;
    background-color: #ffff;
}
.header-form{
    text-align: center;
}
.paciente-form{
    margin-bottom: 50px;
}
.credentials-style{
    bottom: 40px;
}
.btn-form{
    text-align: center;
    padding-top: 80px;;
}
.btn-send{
    margin-right: 10px;
    padding: 10px;
}
.form-control{
    margin: 5px;
    line-height: 15px !important;
}
.paciente-cadastro{
    top: 50px;
    width: 50%;
    position: relative;
    left: 25%;
}